.month-header {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  padding: 1vw;
  background: rgb(43,212,198);
  background: linear-gradient(336deg, rgba(43,212,198,1) 38%, rgba(88,174,225,0.989233193277311) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.month-main {
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 13%;
  font-size: 1.5vw;
  text-align: center;
}
.month {
  padding: 1vh 2vw;
}